* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(135,34,99,1) 0%, rgba(152,93,168,1) 35%, rgba(63,180,181,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: rgb(175, 175, 217);
    font-size: 48px;
}